<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.homebank.utilities.Reporting"></listener>
	</listeners>
	<test name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="node" value="192.168.0.102"></parameter>
		<classes>
			
			<!--<class name="com.homebank.testCases.TC_AddCustomerTest_003" />-->
			<class name="com.homebank.testCases.TC_LoginTest_001" />
			<!--<class name="com.homebank.testCases.TC_LoginDDT_002" />-->
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
